.sidebar-heading {
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
}

/* <box-masonry> */

.box-masonry .box-masonry-image {
    background: #fff;
}

.box-masonry,
.box-masonry:hover {
    box-shadow: none;
}

@-webkit-keyframes cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes cursor {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0;
    }
}

.content-column-content p,
.content-column-content li {
    color: #666;
}

.progress-bar {
    height: 8px;
    background-color: var(--progress-bar-background);
    margin: 12px 0
}

.progress-bar.progress-bar-show-percent {
    margin-top: 38px
}

.progress-bar-filled {
    background-color: var(--progress-bar-fill);
    height: 100%;
    transition: width .3s ease;
    position: relative;
    width: 0
}

.progress-bar-filled::before {
    content: "";
    border: 6px solid transparent;
    border-top-color: var(--progress-bar-fill);
    position: absolute;
    top: -12px;
    right: -6px
}

.progress-bar-filled::after {
    color: var(--progress-bar-fill);
    content: attr(data-filled);
    display: block;
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    border: 6px solid transparent;
    top: -38px;
    right: 0;
    transform: translateX(50%)
}

.progress-bar-no-arrow>.progress-bar-filled::after,
.progress-bar-no-arrow>.progress-bar-filled::before {
    content: "";
    display: none;
    visibility: hidden;
    opacity: 0
}

.logo+*,
h1+* {
    margin-top: 0;
}

.logo {
    position: relative;
    display: inline-block;
    display: table-cell;
    padding: calc(var(--global-space) * 2) 0 calc(var(--global-space) * 2);
    margin: 0;
    overflow: hidden;
    float: none;
    padding: 0;
    margin-top: calc(var(--global-space) * 2);
    margin-bottom: calc(var(--global-space) * 2);
    line-height: var(--global-line-height);
    font-weight: normal;
}
.content-column-content .command {
    color: #aaa;
}
div.post{
    font-family: var(--text-font-stack);
    margin: 0 0 var(--global-line-height);
    color: var(--global-font-color)
}
.form {
    width: 100%
}

fieldset {
    border: 1px solid var(--font-color);
    padding: 1em
}



.form-group {
    margin-bottom: var(--global-line-height);
    overflow: auto
}

/* <btn> */


.btn {
    border-style: solid;
    border-width: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    padding: .65em 2em;
    font-size: 1em;
    font-family: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1
}

.btn:active {
    box-shadow: none
}

.btn.btn-ghost {
    border-color: var(--font-color);
    color: var(--font-color);
    background-color: transparent
}
.btn-ghost {
    color: #666;
    background-color: transparent;
    border-color: #333;
    font-weight: 400;
    font-family: var(--font-stack);
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.55;
    border-radius: 0;
    margin-left: 0;
    margin-top: 5px;
}
.btn.btn-ghost:focus,
.btn.btn-ghost:hover {
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
    z-index: 2
}

.btn.btn-ghost:hover {
    background-color: transparent
}

.btn-block {
    width: 100%;
    display: flex
}

.btn-default {
    background-color: var(--font-color);
    border-color: var(--invert-font-color);
    color: var(--invert-font-color)
}

.btn-default:focus:not(.btn-ghost),
.btn-default:hover {
    background-color: var(--secondary-color);
    color: var(--invert-font-color)
}

.btn-default.btn-ghost:focus,
.btn-default.btn-ghost:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    z-index: 2
}

.btn-error {
    color: var(--invert-font-color);
    background-color: var(--error-color);
    border: 1px solid var(--error-color)
}

.btn-error:focus:not(.btn-ghost),
.btn-error:hover {
    background-color: var(--error-color);
    border-color: var(--error-color)
}

.btn-error.btn-ghost {
    border-color: var(--error-color);
    color: var(--error-color)
}

.btn-error.btn-ghost:focus,
.btn-error.btn-ghost:hover {
    border-color: var(--error-color);
    color: var(--error-color);
    z-index: 2
}

.btn-primary {
    color: var(--invert-font-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color)
}

.btn-primary:focus:not(.btn-ghost),
.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color)
}

.btn-primary.btn-ghost {
    border-color: var(--primary-color);
    color: var(--primary-color)
}

.btn-primary.btn-ghost:focus,
.btn-primary.btn-ghost:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    z-index: 2
}

.btn-small {
    padding: .5em 1.3em !important;
    font-size: .9em !important
}

.btn-group {
    overflow: auto
}

.btn-group .btn {
    float: left
}

.btn-group .btn-ghost:not(:first-child) {
    margin-left: -1px
}


p.social a {
    margin: 0 0 10px 0;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: none;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    vertical-align: bottom;
    color: #999999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.active a {
    text-decoration: underline;
}



.image-grid {
    display: grid;
    grid-template-rows: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit,
            minmax(calc(var(--page-width) / 4), 1fr));
}


p.latin {
    font-size: 16px !important;
}

mjx-math {
    font-size: 14px !important;
}


.gallery-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts-list {
    position: relative;
    padding-left: 130px;
    top: 0;
}

.post h1,
.post h2 {
    padding-top: 0;
    margin: 0;
    margin-bottom: 5px;
}

.posts-list .date {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 130px;
    z-index: 400;
    padding-top: 0;
}





mjx-math {
    font-size: 14px !important;

}

