.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: var(--block-background-color);
    color: var(--font-color)
}

.hljs-comment,
.hljs-quote {
    color: var(--secondary-color)
}

.hljs-variable {
    color: var(--font-color)
}

.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
    color: var(--primary-color)
}

.hljs-addition,
.hljs-attribute,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
    color: var(--secondary-color)
}

.hljs-string {
    color: var(--secondary-color)
}

.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: var(--primary-color)
}

.hljs-doctag {
    color: var(--secondary-color)
}

.hljs-attr {
    color: var(--primary-color)
}

.hljs-bullet,
.hljs-link,
.hljs-symbol {
    color: var(--primary-color)
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}