:root {
  --color-light-fg-font-quote: #57606A;
  --color-primary: #b31b1b;
  --color-fg-font-normal: black;
  --color-fg-tiny-line: #e0e0e0;
  --font-default: -apple-system, 
  BlinkMacSystemFont, "Times New Roman", 'Segoe UI', "Microsoft YaHei", serif;
  --fonts-serif: "Times New Roman", 'Microsoft Yahei', "Noto Serif CJK", serif;
  --fonts-mono: Consolas, "Ubuntu Mono", "Microsoft Yahei", "Noto Sans Mono CJK", monospace;
  --len-1: 0.25rem;
  --len-2: 0.50rem;
  --len-3: 1.00rem;
  --font-size-default: 14px;
  --font-size-title: 1.500rem;
}


*, ::before, ::after {
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-family: var(--font-default);
  font-size: 14px;
  color: black;
}


*::selection {
  background-color: #0078d7;
  color: #fff;
}

*::-moz-selection {
  background-color: var(--selection-background-color);
  color: var(--selection-foreground-color);
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  align-items: center;
  background-color: rgb(240,240,240);
}

/* set up padding and margin of some main elements */
.main-wrapper {
  margin-top: 3.00rem;
  margin-bottom: 3.00rem;
}

.main-wrapper { display: flex; flex-wrap: wrap; }
.main-wrapper > * { height: fit-content; }

.main { padding: 1.50rem; }
.side { padding-left: 1.50rem; }
.main { flex: 0 0 72%; width: 72%; }
.side { flex: 0 0 28%; width: 28%; }
.featured-image,
.featured-image img,
img{
    max-width: 100%;
}
@media (max-width: 991px) {
  .main { padding: 1.50rem; }
  .side { padding-left: 0; padding-top: 1.50rem; }
  .main { flex: 0 0 100%; width: 100%; }
  .side { flex: 0 0 100%; width: 100%; }
}

/* set light background */
.header-wrapper,
.footer,
.main,
.side-recent,
.side-categories,
.side-tags,
.side-friends,
.side-cw
{
  background-color: white;
}
/* place header in the center of header-wrapper */
.header-wrapper {
  display: flex;
  justify-content: center;
}

/* let footer stay at bottom of screen */
.footer {
  margin-top: auto;
  margin-bottom: 0;
}

.side-friends a{
  font-weight: 600;
}
/********** set up break point **********/

                             .main-wrapper, .header { max-width: 1320px; }
@media (max-width: 1399px) { .main-wrapper, .header { max-width: 1140px; } }
@media (max-width: 1199px) { .main-wrapper, .header { max-width: 960px; } }
@media (max-width: 991px)  { .main-wrapper, .header { max-width: 720px; } }
@media (max-width: 767px)  { .main-wrapper, .header { max-width: 540px; } }
@media (max-width: 575px)  { .main-wrapper, .header { max-width: none; } }


.header-wrapper, .footer { width: 100vw;}
.main-wrapper { width: calc(100vw - 2 * var(--len-3));}

/************************/
/* set up header layout */
/************************/

.header {
  padding: 0;
  width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.header .menu { justify-content: center; align-items: center; }
.header .site-title { text-align: left; line-height: 1.0em;padding-bottom: 10px;}
@media (max-width: 767px) {
  .header .site-title {
    padding-top: 1.50rem;
    flex: 0 0 100%;
  }

  .header .menu {
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin-top: var(--len-3);
    padding-top: var(--len-3);
    border-top: 1px solid var(--color-fg-tiny-line);
    padding-bottom: 14px;
  }
}

/* setup hyper link style */
.header .site-title {
  text-decoration: none;
  font-family: var(--font-default);
  font-weight: 600;
}
.header .site-subtitle{
  font-weight: 600;
}
/********** set up menus layout **********/

/* menus and submenus, hover to display, and setup animation */
.header .menu-item       .sub-menu { visibility: hidden;  opacity: 0; transition: opacity 0.25s, visibility 0.25s; }
.header .menu-item:hover .sub-menu { visibility: visible; opacity: 1; }
.header .sub-menu { position: absolute; }

/* menu direction */
.header .menu {
  display: flex;
  align-items: center;
}
.header .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* remove the unwanted default css in menus */
.header ul { list-style: none; margin: 0; padding: 0; }
.header li { list-style: none; }

/* set up spacing of menu items in menu and sub-menu */
.header .menu > *            { margin-right: var(--len-3); }
.header .menu > *:last-child { margin-right: 0; }
.header .sub-menu > *            { margin-bottom: var(--len-2); }
.header .sub-menu > *:last-child { margin-bottom: 0; }

/* beautify sub menu style */
.header .sub-menu {
  background-color: whitesmoke;
  padding: var(--len-2) 1.50rem;
  box-shadow: #E0E0E0 0px 0px 3px 1px;
  border-radius: 0px;
}

/* beautify menu item */
.header .menu-item {
  font-family: var(--font-default);
  font-size: 15px;
  font-weight: 600;
}

.header a       { color: var(--color-fg-font-normal); text-decoration: none; }
.header a:hover {color: var(--color-primary);}
/************************/
/* set up footer layout */
/************************/

.footer {
  padding: 1.50rem 0;
  font-size: 14px;
}

.footer > * {
  margin-top: var(--len-2);
  margin-bottom: var(--len-2);
}

/* credit, license and social layout */

.footer .footer-row { display: flex; justify-content: left; padding-left: 25px;}

.footer .footer-item            { margin-right: var(--len-3); }
.footer .footer-item:last-child { margin-right: 0; }

/* beautify hyper link style */
.footer { color: var(--color-fg-font-normal) }

.footer a       { color: var(--color-primary); text-decoration: none; }
.footer a:hover { color: var(--color-fav-3); }

.footer img {
    display: inline;
    height: var(--font-size-default);
    color: var(--color-primary);
}

/**********************************/
/* set up home page's list layout */
/**********************************/

.list-item .tips {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  font-size: var(--font-size-default);
}

.list-item .tips > *            { margin-right: var(--len-3); }
.list-item .tips > *:last-child { margin-right: 0; }
.list-item .title a { text-decoration: none; color: var(--color-fg-font-normal); font-size: 18px;}
.list-item .title a:hover { color: var(--color-primary); }
.list-item .tips a { text-decoration: none; color: var(--color-primary); }
.list-item .tips a:before{
  content: '#';
  color: #000;
}
.list-item .tips a:hover { color:#000;background-color: palegoldenrod; }
.list-item .title { margin: var(--len-2) 0 var(--len-3) 0; }
.list-item .tags > *,
.list-item .categories > *
{ margin: 0 var(--len-1); }
.list-item .summary > * { margin: 0; }
.list-item .title { margin: 0 0 var(--len-2) 0; }
.list-item .tips { margin: 0 0 var(--len-3) 0; }
.list-item            { border-bottom: 1px solid var(--color-fg-tiny-line); }
.list-item:last-child { border-bottom: 0; }
.list-item:first-child { padding-top: 0;}
.list-item             { padding: var(--len-3) 0; }
.list-item:last-child  { padding-bottom: 0;}

.read-more{
  border-bottom: solid 1px #000;
  text-decoration: none;
  color: var(--color-fg-font-normal);
  text-align: right;
  font-weight: 600;
}
.read-more:hover{
  border-bottom: none;
  text-decoration: none;
  color: var(--color-primary);
}
/**********************/
/* set up side layout */
/**********************/

.side h2 { margin: 0; font-size: 16px;}
.side ul { list-style: none; margin: 0; padding: 0; }
.side li            { margin-bottom: var(--len-3); }
.side li:last-child { margin-bottom: 0; }
.side hr {
  border: none;
  height: 1px;
  background-color: var(--color-bg-content);
  margin: var(--len-2) 0;
}

.side > * { padding: 1.50rem; }
.side > *            { margin-bottom: var(--len-3); }
.side > *:last-child { margin-bottom: 0; }
.side a       { color: var(--color-fg-font-normal); text-decoration: none; }
.side a:hover { color: var(--color-primary); }

/* horizontally place tags */
.side .side-tags li { display: inline-block; margin: var(--len-1) var(--len-1); }

/*****************************/
/* set up single post layout */
/*****************************/

.single {
  display: flex;
  flex-direction: column;
}

.single a,
.summary a{
  text-decoration: none;
  border-bottom: solid 1px var(--color-fg-font-normal);
  color: var(--color-fg-font-normal);}
.single a:hover,
.summary a:hover{
  color: var(--color-fg-font-normal);
  background-color: whitesmoke;
  text-decoration: none;
  border-bottom: none;
}

.single .title,
.single .tip,
.single .taxonomies,
.single .content
{ width: 100%; }

.single .taxonomies { margin-top: var(--len-1); }

.single > hr {
  border: none;
  background-color: #121212;
  height: 0.5px;
  width: 90%;
  margin: var(--len-3) 0;
}

.single .tip,
.single .taxonomies
{ color: var(--color-fg-font-normal)}

.single .taxonomies > * { display: inline-block; }

.single .taxonomies > * { margin-right: var(--len-3); }
.single .taxonomies > *:last-child { margin-right: 0; }

.single .title {
  margin: var(--len-2) 0 var(--len-3) 0;
  font-size: var(--font-size-title);
}


/***** set up content style *****/

.content {
    line-height: 1.5;
}

.content code {
  font-family: var(--fonts-mono);
  font-size: 12px;
  background-color: transparent;
  line-height: 1.2em;
  word-wrap: break-word;
}

/* keep in style with highlighting */
.content pre { padding: 7px; }

.content pre code {
  display: block;

  padding: var(--len-3);

  border: none;

  border-radius: 0px;

  overflow: auto;
  width: 100%;
}

.content blockquote {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1em;
  margin-left: 0px;
  border-left: 3px solid #BFBFBF;

}

.content hr {
  border: none;
  height: 2px;
  background-color: var(--color-fg-tiny-line);

  width: 80%;
  margin: var(--len-2) auto;
}


.content h1,
.content h2,
.content h3,
.content h4 {
  font-weight: 600;
}
.content p,
.content pre {
  word-break: normal;
  overflow-wrap: anywhere;
}
.content img {
  max-width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content .anchor {
  visibility: hidden;
  color: var(--color-primary);
}
.content h1:hover a,
.content h2:hover a,
.content h3:hover a,
.content h4:hover a
{ visibility: visible }

.highlight pre {
  padding: 7px;
  overflow-x: auto;
}

.highlight {
  max-width: 100%;
  overflow-x: auto;
}

/**************************/
/* setup list page layout */
/**************************/

#archive {
  padding-left: var(--len-3);
}

#archive .group {
  margin: 1.50rem auto;
}
#archive .group .key {
  font-size: var(--font-size-5);
  margin-bottom: var(--len-2);
  font-family: var(--fonts-serif);
}
#archive .group .value {
  display: block;
  font-size: var(--font-size-default)
  margin-bottom: 12px;
}
#archive .group .value   { text-indent: -60px; padding-left: 60px; }
#archive .group .value * { text-indent: 0; }
#archive .group .value .date  { display: inline-block; width: 60px; }
#archive .group .value .title { display: inline; }

#archive .group .value .date { color: var(--color-fg-font-normal); }

#archive .group .value a { text-decoration: none; }

#archive .group .value a { color: var(--color-fg-font-normal); }
#archive .group .value a:hover { color: var(--color-primary); }

#archive .group .value .tags {
  display: inline-block;
  margin-left: 7px;
}
#archive .group .value .tags {
  font-size: var(--font-size-default);
  color: navy;
}
#archive .group .value .tags::before{
  content: '#';
  color: #000;
}
#archive .group .value .tags:hover{
  color: #000;
  /*background-color: rgb(229,243,255);*/
  background-color: palegoldenrod;
}
/**********************/
/* setup terms layout */
/**********************/

#tags {
  max-width: 700px;
  margin: 48px auto 0 auto;
  padding: 0 12px;
  text-align: center;
}
#tags .tag {
  display: inline-block;
  margin: 7px 7px;
}
@media (max-width: 700px) {
  #tags {
    margin: 0 auto 0 auto;
  }
  #tags .tag {
    display: inline-block;
    margin: 4px 5px;
  }
}

#tags .tag a {
  background: #f2f2f2;
  padding: 4px 7px;
  color: #757575;
  color: #404040;
  font-size: 14px;
  margin-right: 3px;
}
#tags .tag a:hover {
  color: #0366d6;
}

/***************************/
/* setup pagination layout */
/***************************/

.pagination {
  width: 100%;
  text-align: center;

  padding-top: 3.00rem;
}

.pagination a {
  display: inline-block;
  font-size: var(--font-size-default);
  border-radius: 3.00rem;
  width: 3.00rem;
  height: 3.00rem;
  line-height: 3.00rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: var(--color-fg-font-normal);
  background-color: #f0f0f0;
  transition: background-color 0.25s;
}

.pagination a:hover {
  background-color: PaleGoldenRod;
}

.pagination a.current {
  background-color: PaleGoldenRod;
  pointer-events: none;
  color: var(--color-fg-font-normal);
  cursor: default;
}

/***************************/
/* setup commenting layout */
/***************************/

.commenting {
  width: 85%;
}

/* keep content style from being affected by remark42 style */
.content pre {
  background-color: transparent;
  color: var(--color-fg-font-normal)
}

.archive-hint {
  padding-left: 1.50rem;
}

.max-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a.anchor,a.anchor:hover{
  border-bottom: none;
  background-color: transparent;
}
a.site-title:hover{
  color: #2F2F2F;
}

strong{
  font-weight: 600;
}