:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  --default-border-color: #666;
  --primary-color: #000b80;
  --link-hover-background-color: #b4eeb4;
  --global-font-size: 14px;
  --highlight-color: #e22d30;
  --font-sans: "Segoe UI", "Microsoft Yahei", sans-serif;
  --highliFwghtColor: #2a2a2a;
  --font-family-primary: -apple-system, BlinkMacSystemFont, 'Source Serif Pro', Lora, 'Open Sans', 'Microsoft Yahei', serif;
  --font-mono: FMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "Microsoft Yahei", monospace;
  --global-background-color: white;
  --global-text-color: #000;
  --global-link-height: 1.2em;
  --global-padding-size: 1em;
}

del {
  color: var(--global-text-color);
  background-color: var(--global-text-color);
  text-decoration: none
}

del:hover {
  color: var(--global-text-color);
  background-color: var(--global-background-color);
  text-decoration: none
}

*,
*::before,
*::after {
  box-sizing: border-box
}
pager__subtitle{
  line-height: 1em;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}

html {
  font-size: 100%;
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust: auto
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--global-font-size);
  line-height: var(--global-line-height);
  background: var(--global-background-color);
}

.wrapper {
  padding: 0px;
  background-color: var(--global-background-color);
  color: var(--global-text-color);
}

.container {
  position: relative;
  width: 100%;
  max-width: 897px;
  margin: 0 auto;
}

.container--outer {
  margin: 0px auto;
  
}

svg.meta__icon {
  display: none
}

.flex {
  display: -webkit-flex;
  display: flex
}

.primary {
  -webkit-flex: 1 0 65.83%;
  flex: 1 0 65.83%;
  -webkit-order: 1;
  order: 1;
  min-width: 0
}

.sidebar {
  -webkit-flex: 1 0 31.66%;
  flex: 1 0 31.66%;
  -webkit-order: 2;
  order: 2;
  min-width: 0;
  margin: 0 0 0 2.5%
}

.sidebar--left {
  -webkit-order: 0;
  order: 0;
  margin: 0 2.5% 0 0
}

.clearfix {
  display: block;
  padding: 0 var(--global-padding-size) var(--global-padding-size) var(--global-padding-size);
}

.clearfix::after {
  display: block;
  height: 0;
  padding: 0;
  margin: 0;
  clear: both;
  line-height: 0;
  visibility: hidden;
  content: ""
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
  line-height: 1;
}

p {
  font-family: var(--font-family-primary);
}

a {
  text-decoration: none !important;
  color: var(--primary-color);
}

a:hover {
  color: var(--global-text-color);
  background-color: var(--link-hover-background-color)
}

hr {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px dashed var(--default-border-color);
}

b,
strong {
  font: inherit;
  font-weight: 600;
}

i,
em {
  font: 'Lora', 'Microsoft Yahei', serif;
  font-style: italic;
}

ol,
ul {
  padding: 0;
  margin: 0
}

small {
  font-size: .75rem
}

mark {
  background-color: #fd5
}

figure {
  margin: 0 0 20px;
  margin: 0 0 1.25rem
}

figcaption {
  margin-top: 4px;
  margin-top: .25rem;
  color: #666
}

figcaption h4 {
  margin: 0;
  color: inherit
}

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: inherit
}

pre,
code {
  background-color: #f5f5f5;
  border: 1px solid #ebebeb
}

code {
  padding: 0 5px
}

pre {
  display: block;
  padding: 0;
  padding: 1.25rem;
  margin-bottom: 0;
  overflow: auto;
  color: #000
}

pre code {
  padding: 0;
  color: inherit;
  white-space: inherit;
  background: inherit;
  border: 0
}

kbd {
  padding: 2px 3px;
  color: #fff;
  background-color: #2a2a2a
}/*
em:before{
  content: '<em>';
  font-family: var(--font-mono);
  font-size: 12px;
}
em:after{
  content: '</em>';
  font-family: var(--font-mono);
  font-size: 12px;
}*/
blockquote {
  display: block;
  padding: 5px 0 5px 15px;
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
  line-height: 1.5;
  /*
  border-left: 5px solid var(--highlight-color)
  */
}
blockquote:before{
  content: '<blockquote>';
  font-family: var(--font-mono);
  font-size: 12px;
}
blockquote:after{
  content: '</blockquote>';
  font-family: var(--font-mono);
  font-size: 12px;
}

blockquote p:last-child {
  margin: 0
}

blockquote footer {
  text-align: right
}

sup,
sub {
  font-size: 10px;
  font-size: .625rem;
  font-style: normal
}

sup {
  vertical-align: super
}

sub {
  vertical-align: sub
}

abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted #000
}

q {
  font-style: italic
}

address {
  margin-bottom: 0;
  font-family: "Consolas", Courier New, Courier, monospace;
  line-height: 1.5
}

dl {
  margin: 0 0 10px 20px
}

dt,
dd {
  display: list-item
}

dt {
  font-weight: bold;
  list-style-type: square
}

dd {
  margin-left: 20px;
  list-style-type: circle
}

select {
  max-width: 100%
}

.warning {
  padding: 20px 10px;
  text-align: center;
  border: 1px solid #ddd
}

.warning__icon {
  margin-bottom: 20px;
  fill: #ddd
}

.header {
  background: var(--global-background-color);
}

.logo {
  padding: 25px
}

.logo__link {
  display: inline-block
}

.logo__item {
  display: inline-block;
  vertical-align: middle
}

.logo__img {
  max-height: 256px
}

.logo__text {
  text-transform: uppercase
}

.logo--mixed .logo__item {
  margin: .5rem auto
}

.logo--mixed .logo__img {
  max-width: 128px;
  max-height: 128px
}

.logo--mixed .logo__text {
  padding: 0 1rem
}

.logo__title {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: #000
}

.logo__tagline {
  display: inline-block;
  padding-top: 10px;
  margin-top: 10px;
  /*
  font-size: 14px;
  font-size: .875rem;
  */
  font-weight: 600;
  line-height: 1;
  border-top: 1px solid #ebebeb
}

.divider {
  height: 5px;
  margin: 0;
  background: var(--highlight-color);
  border: 0
}

.no-js .menu__btn {
  display: none
}

.menu__btn {
  display: block;
  width: 100%;
  padding: 0;
  font: inherit;
  border: 0;
  outline: 0;
  text-align: left;
  background-color: transparent;
}

.menu__btn-title {
  text-align: left;
  background-color: #e5e5e5;
  border-style: outset;
  border-color: #bfbfbf;
}

.menu__btn-title:hover {
  background-color: #e5e5e5;
  border-style: inset;
  border-color: #bfbfbf;
}
.menu__btn-title:active{
  background-color: whitesmoke;
  border-style: inset;
  border-color: #e5e5e5;
}

:focus>.menu__btn-title {
  box-shadow: inset 0 0 1px 3px var(--highlight-color)
}

button:not(:-moz-focusring):focus>.menu__btn-title {
  box-shadow: none;
}

.menu__btn:focus,
.menu__btn-title:focus {
  outline: 0;
}

.js .menu__btn--active {
  color: #000;
  background-color: var(--global-background-color)
}

.menu__list {
  list-style: none;
menu__link}

.menu__item:first-child {
  border: 0;
}

.menu__link {
  display: block;
  padding: .625rem .9375rem;
  font-size: 1em;
  text-decoration: none;
  font-family: var(--font-family-primary);
  position: relative;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
}
header h2 a{
  line-height: 1;
  font-size: 16px;
}
.menu__text {
  font-size: var(--global-font-size);
  text-decoration: none !important;
  margin-right: 0.8em;
  line-height: 1em;
  display: inline-block;
}

.menu__link:hover {
  background-color: transparent;
  color: inherit;
}
.menu__text:hover{
  background-color: var(--link-hover-background-color);
  color: black;
}

.js .menu__list {
  position: absolute;
  z-index: 1;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top left;
  transform-origin: top left
}

.js .menu__list--active {
  visibility: visible;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1)
}

.menu__list--transition {
  transition: visibility .15s ease, transform .15s ease, -webkit-transform .15s ease
}

@media screen and (min-width:767px) {
  .menu__btn {
    display: none
  }

  .menu__list,
  .js .menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    visibility: visible;
    border: 0;
    -webkit-transform: none;
    transform: none
  }

  .menu__item {
    border-left: 1px solid rgba(255, 255, 255, 0.1)
  }
}

.post__header,
.main__header {
  margin-bottom: 0
}

.main__title {
  font-size: 28px;
  font-size: 1.75rem
}

.main__content {
  margin-bottom: 0
}

.meta {
  vertical-align: baseline
}

.meta,
.meta a {
  color: #666
}

.meta__item {
  display: inline;
  margin-left: 15px
}

.meta__item:first-child {
  margin-left: 0
}

.meta__icon {
  margin-right: 5px;
  vertical-align: middle;
  fill: #c4c4c4
}

.meta__text {
  vertical-align: middle
}

.post__title {
  margin: 0
}

.post__meta {
  padding: 5px 0;
  margin-top: 10px;
  margin-top: .625rem;
  border-top: 1px dotted #ebebeb;
  border-bottom: 1px dotted #ebebeb
}

.post__lead {
  margin-top: 4px;
  margin-top: .25rem;
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  font-style: italic
}

.post__thumbnail {
  max-width: 1030px;
  margin: 0 0 20px;
  margin-bottom: 0 0 1.25rem
}

.post__thumbnail img {
  width: 100%
}

.content a,
.warning a,
.authorbox__description a {
  font-weight: 600;
  color: var(--highlight-color)
}

.content a:hover,
.warning a:hover,
.authorbox__description a:hover {
  color: var(--highlight-color);
  text-decoration: underline
}

* .content .alignnone {
  display: block;
  margin: 20px 0;
  margin: 1.25rem 0
}

.content .aligncenter {
  display: block;
  margin: 20px auto;
  margin: 1.25rem auto
}

.content .alignleft {
  display: inline;
  float: left;
  margin: 5px 20px 20px 0;
  margin: .3125rem 1.25rem 1.25rem 0
}

.content .alignright {
  display: inline;
  float: right;
  margin: 5px 0 20px 20px;
  margin: .3125rem 0 1.25rem 1.25rem
}

.content ul {
  list-style: square
}

.content ol {
  list-style: decimal
}

.content ul,
.content ol {
  margin: 0 0 20px 40px
}

.content ul ul,
.content ol ol,
.content ol ul,
.content ul ol {
  margin: 0 0 0 40px
}

.content li {
  margin-bottom: 5px
}

.post__footer {
  margin-top: 20px;
  margin-top: 1.25rem
}

.toc {
  margin-bottom: 20px;
  font-weight: 600;
  color: #7a8288;
  background: var(--global-background-color);
  border-color: #ebebeb;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 1px
}

.toc__title {
  padding: 5px 10px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #2a2a2a
}

.toc__menu ul {
  margin: 0;
  list-style: none
}

.toc__menu li li a {
  padding-left: 25px
}

.toc__menu li li li a {
  padding-left: 45px
}

.toc__menu li li li li a {
  padding-left: 65px
}

.toc__menu li li li li li a {
  padding-left: 85px
}

.toc__menu li li li li li li a {
  padding-left: 105px
}

.toc__menu li {
  margin: 0
}

.toc__menu a {
  display: block;
  padding: 5px 10px;
  color: var(--highlight-color);
  border-bottom: 1px solid #ebebeb
}

.toc__menu a:hover {
  text-decoration: underline
}

.list__item {

  margin-bottom: 14px;
  border-bottom: 1px solid #ebebeb;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  
}
.post-word-count{
  line-height: 1;
  cursor: none;
  font-family: Lora;
}
.post-details > div.content.post__content.clearfix{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.list__header {
  padding-left: var(--global-padding-size);
  padding-top: var(--global-padding-size);
  padding-top: var(--global-padding-size);
  /*
  margin-bottom: 10px;
  margin-bottom: .625rem
  */
}

.list__title {
  font-size: 20px;
  font-size: 1.25rem
}

.list__meta {
  margin-top: 5px
}

.list__thumbnail {
  float: left;
  margin: 0 20px 0 0
}

.list__thumbnail img {
  width: 100%;
  max-width: 235px
}

.list__footer-readmore {
  float: right;
}

.pagination {
  margin-top: 20px;
  font-size: 15px
}
/*
.pager {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ebebeb
}

.pager__subtitle {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1
}

.pager__title {
  margin-bottom: 0;
  overflow: hidden
}

.pager__item {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  max-width: 48%
}

.pager__item--next {
  margin-left: auto;
  text-align: right
}

.pager__link {
  display: block
}
.pager__link:hover{
  background: transparent;
  color: var(--highlight-color);
}
*/
.pager__item--next {
  margin-left: auto;
  text-align: right
}
img {
  width: auto 9;
  max-width: 100%;
  height: auto;
  vertical-align: bottom
}

iframe,
embed,
object,
video {
  max-width: 100%
}

table {
  width: 100%;
  margin-bottom: 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb
}

td,
th {
  padding: 5px 10px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb
}

th {
  font-weight: 600
}

input {
  padding: 5px;
  font-size: 12px;
  vertical-align: middle;
  background: #f5f5f5;
  border: 1px solid #ebebeb;
  transition: all .25s ease-in-out
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url] {
  width: 60%
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=url]:hover,
textarea:hover {
  border: 1px solid #aaa
}

input[type=submit],
input[type=reset] {
  display: inline-block;
  min-width: 150px;
  padding: 10px 15px;
  font-weight: 600;
  color: transparent;
  cursor: pointer;
  background: #2a2a2a;
  border: 0;
  transition: all .1s linear
}

input[type=submit]:hover,
input[type=reset]:hover {
  background: var(--highlight-color)
}

textarea {
  width: 96%;
  padding: 5px;
  overflow: auto;
  line-height: 1.5;
  resize: vertical;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.widget {
  margin-bottom: 25px;
  overflow: hidden
}

.widget:last-child {
  margin-bottom: 0
}

.widget__title {
  position: relative;
  font-size: var(--global-font-size);
  font-weight: normal
}

.widget__item {
  display: block;
  padding: 5px 0;
  border-bottom: 1px dotted #ebebeb
}

.widget__item:first-child {
  padding-top: 0
}

.widget__counter--bubble {
  font-size: 1em
}

.widget-social__item {
  padding: 0;
  border: 0
}

.widget-social__link {
  display: inline;
  margin: 0 0 8px;
  white-space: normal
}

.widget-social__link-icon {
  margin: 0 5px 0 0;
  vertical-align: middle;
  fill: #fff;
}

.widget-taglist__link {
  display: inline-block;
  margin: 0 4px 8px 0
}

.widget-languages__link {
  display: block
}

.widget-languages__link:hover .widget-languages__link-btn {
  color: #fff;
  background: var(--highlight-color)
}

.widget-languages__link-btn {
  display: inline-block
}

.footer {
  padding: 10px 25px;
  background-color: transparent;
/*  border-top: 1px dashed #999*/
}

.footer__container {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.footer__links {
  -webkit-order: 1;
  order: 1
}

@media screen and (max-width:1475px) {
  .container--outer {
    width: 95%
  }
}

@media screen and (max-width:900px) {
  .container--outer {
    width: 100%;
    margin: 0 auto
  }

  .wrapper,
  .logo {
    padding: 20px
  }

  .widget {
    margin-bottom: 20px
  }

  .footer__container {
    display: block
  }

  .footer__links {
    padding-bottom: 8px;
    padding-bottom: .5rem;
    text-align: left
  }

  .footer__copyright {
    text-align: left
  }
}

@media screen and (max-width:767px) {
  .wrapper {
    display: block
  }
  .menu__text{
    background-color: #e5e5e5;
    border-style: outset;
    border-color: #bfbfbf;
  }
  .menu__text:hover{
    background-color: #e5e5e5;
    border-style: inset;
    border-color: #bfbfbf;
  }
  .sidebar {
    float: none;
    width: 100%;
    margin: 0
  }

  .logo__link {
    margin: 0 auto
  }

  .logo__title {
    font-size: 24px;
    font-size: 1.5rem
  }

  .sidebar {
    margin-top: 20px
  }
}

@media screen and (max-width:620px) {

  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=url] {
    width: 88%
  }

  .meta__item {
    display: block;
    margin-left: 0
  }

  .authorbox__avatar {
    display: inline-block;
    float: none;
    margin: 0 0 20px
  }

  .pager {
    display: block
  }

  .pager__item {
    min-width: 100%
  }

  .pager__item--prev {
    padding-bottom: 25px
  }

  .content ul,
  .content ol {
    margin: 0 0 20px 20px
  }

  .content ul ul,
  .content ol ol,
  .content ol ul,
  .content ul ol {
    margin: 0 0 0 20px
  }

  .list__thumbnail {
    max-width: 80px
  }

  .list__title {
    font-size: 16px;
    font-size: 1rem
  }

  .list__lead {
    font-size: 14px;
    font-size: .875rem
  }

  .list__meta {
    display: block;
    font-size: 11px;
    font-size: .6875rem
  }
}