:root {
  --default-border-color: #666;
  --primary-color: #000b80;
  /*--link-hover-background-color: #b4eeb4;*/
  --link-hover-background-color: #d3e6ff;
  --global-font-size: 14px;*/
  --code-font-size: 12px;
  --highlight-color: #e22d30;
  --link-text-color: #0f4a85;
  --font-sans: "Segoe UI", "Microsoft Yahei", sans-serif;
  --font-title: /*'Ysabeau',*/Lora, 'CMU Typewriter Text Variable Width', 'Noto Serif', Lora, 'Droid Serif', 'Microsoft Yahei', serif;
  --highliFwghtColor: #2a2a2a;
  --font-family-primary: -apple-system, BlinkMacSystemFont, /*'Ysabeau',*/ 'Georgia Pro', 'Segoe UI', 'Modern DOS 9x14', 'Microsoft Yahei', serif;
  --font-mono: FMono-Regular, Consolas, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "Microsoft Yahei", monospace;
  --global-background-color: #fff;/*#f7f7f7;/*#f9f9fc;/*SeaShell;/*OldLace;/*SeaShell;/*#f9f9fc;*/
  --global-text-color: #1f2328; /* come from GitHub */
  --global-link-height: 1em;
  --global-padding-size: 1em;
  --github-header-color: #24292f;
}
mjx-math{
  font-size: var(--global-font-size)!important;
  color: var(--global-text-color);
}
*,
*::before,
*::after {
  box-sizing: border-box
}
pager__subtitle{
  line-height: 1em;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}

body {
  font-family: var(--font-family-primary);
  line-height: var(--global-line-height);
  background-color: var(--global-background-color);
  color: var(--global-text-color);
  font-size: var(--global-font-size);
}


.wrapper {
  padding: 0px;
  background-color: var(--global-background-color);
  color: var(--global-text-color);
}

.container {
  position: relative;
  width: 100%;
  max-width: 897px;
  margin: 0 auto;
}

.container--outer {
  margin: 0px auto;
  
}

svg.meta__icon {
  display: none
}

.flex {
  display: -webkit-flex;
  display: flex
}

.primary {
  -webkit-flex: 1 0 65.83%;
  flex: 1 0 65.83%;
  -webkit-order: 1;
  order: 1;
  min-width: 0
}
em,i{
  font-family: Lora, serif;
}
.sidebar {
  -webkit-flex: 1 0 31.66%;
  flex: 1 0 31.66%;
  -webkit-order: 2;
  order: 2;
  min-width: 0;
  margin: 0 0 0 2.5%
}

.sidebar--left {
  -webkit-order: 0;
  order: 0;
  margin: 0 2.5% 0 0
}

.clearfix {
  display: block;
  padding: 0 var(--global-padding-size) var(--global-padding-size) var(--global-padding-size);
}

.clearfix::after {
  display: block;
  height: 0;
  padding: 0;
  margin: 0;
  clear: both;
  line-height: 0;
  visibility: hidden;
  content: ""
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
  line-height: 1;
  font-family: var(--font-title);
}
b,strong{
  font-family: var(--font-title);
}
p {
  font-family: var(--font-family-primary);
}

a {
  text-decoration: none !important;
  color: var(--link-text-color);
}

a:hover {
  color: var(--global-text-color);
  background-color: var(--link-hover-background-color)
}

hr {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px dashed var(--default-border-color);
}

ol,
ul {
  padding: 0;
  margin: 0
}

figure {
  margin: 0 0 20px;
  margin: 0 0 1.25rem
}

figcaption {
  margin-top: 4px;
  margin-top: .25rem;
  color: var(--global-text-color);
}

figcaption h4 {
  margin: 0;
  color: inherit
}

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: var(--code-font-size);
}

pre,
code {
  background-color: #f5f5f5;
  border: 1px solid #ebebeb
}

code {
  padding: 0 5px
}


pre code {
  padding: 0;
  color: inherit;
  white-space: inherit;
  background: inherit;
  border: 0
}

/*
kbd {
  padding: 2px 3px;
  color: #fff;
  */
blockquote {
  display: block;
  padding: 5px 0 5px 15px;
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
  line-height: 1.5;
}
blockquote:before{
  content: '<blockquote>';
  font-family: var(--font-mono);
  font-size: 12px;
}
blockquote:after{
  content: '</blockquote>';
  font-family: var(--font-mono);
  font-size: 12px;
}

blockquote p:last-child {
  margin: 0
}

blockquote footer {
  text-align: right
}


abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted #000
}


dl {
  margin: 0 0 10px 20px
}

dt,
dd {
  display: list-item
}

dt {
  font-weight: bold;
  list-style-type: square
}

dd {
  margin-left: 20px;
  list-style-type: circle
}

select {
  max-width: 100%
}

.header {
  background: var(--global-background-color);
}

.divider {
  height: 5px;
  margin: 0;
  background: var(--highlight-color);
  border: 0
}


.menu__list {
  list-style: none;}

.menu__link {
  display: block;
  padding: .625rem .9375rem;
  text-decoration: none;
  font-family: var(--font-family-primary);
  position: relative;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
}
header h2 a{
  line-height: 1;
}
.menu__text {
  text-decoration: none !important;
  margin-right: 0.8em;
  line-height: 1em;
  display: inline-block;
}
.menu__link:hover {
  background-color: transparent;
  color: inherit;
}
.menu__text:hover{
  background-color: var(--link-hover-background-color);
  color: var(--global-text-color);
}

.menu__btn {
  display: none
}
.menu__list,
.js .menu__list {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  visibility: visible;
  border: 0;
  -webkit-transform: none;
  transform: none
}
@media screen and (min-width:767px) {
  .menu__list
 {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    visibility: visible;
    border: 0;
    -webkit-transform: none;
    transform: none
  }
  .menu__item {
    border-left: 1px solid rgba(255, 255, 255, 0.1)
  }
}

.post__header,
.main__header {
  margin-bottom: 0
}

.main__content {
  margin-bottom: 0
}

.meta {
  vertical-align: baseline
}

.meta,
.meta a {
  color: var(--global-text-color);
}

.meta__item {
  display: inline;
  margin-left: 15px
}

.meta__item:first-child {
  margin-left: 0
}

.meta__text {
  vertical-align: middle
}

.post__title {
  margin: 0
}

.post__meta {
  padding: 5px 0;
  margin-top: 10px;
  margin-top: .625rem;
  border-top: 1px dotted #ebebeb;
  border-bottom: 1px dotted #ebebeb
}

.post__lead {
  margin-top: 4px;
  margin-top: .25rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-style: italic
}

.post__thumbnail {
  max-width: 1030px;
  margin: 0 0 20px;
  margin-bottom: 0 0 1.25rem
}

.post__thumbnail img {
  width: 100%
}


* .content .alignnone {
  display: block;
  margin: 20px 0;
  margin: 1.25rem 0
}

.content .aligncenter {
  display: block;
  margin: 20px auto;
  margin: 1.25rem auto
}

.content .alignleft {
  display: inline;
  float: left;
  margin: 5px 20px 20px 0;
  margin: .3125rem 1.25rem 1.25rem 0
}

.content .alignright {
  display: inline;
  float: right;
  margin: 5px 0 20px 20px;
  margin: .3125rem 0 1.25rem 1.25rem
}

.content ul {
  list-style: square
}

.content ol {
  list-style: decimal
}

.content ul,
.content ol {
  margin: 0 0 20px 40px
}

.content ul ul,
.content ol ol,
.content ol ul,
.content ul ol {
  margin: 0 0 0 40px
}

.content li {
  margin-bottom: 5px
}

.post__footer {
  margin-top: 20px;
  margin-top: 1.25rem
}

.list__item {

  margin-bottom: 14px;
  border-bottom: 1px solid #ebebeb;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  
}
.post-word-count{
  line-height: 1;
  cursor: none;
  font-family: Lora;
}
.post-details > div.content.post__content.clearfix{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.list__header {
  padding-left: var(--global-padding-size);
  padding-top: var(--global-padding-size);
  padding-top: var(--global-padding-size);
}


.list__meta {
  margin-top: 5px
}

.list__thumbnail {
  float: left;
  margin: 0 20px 0 0
}

.list__thumbnail img {
  width: 100%;
  max-width: 235px
}

.list__footer-readmore {
  float: right;
}

.pagination {
  margin-top: 20px;
  font-size: 15px
}


.pager__item--next {
  margin-left: auto;
  text-align: right
}
img {
  width: auto 9;
  max-width: 100%;
  height: auto;
  vertical-align: bottom
}

.widget {
  margin-bottom: 25px;
  overflow: hidden
}

.widget:last-child {
  margin-bottom: 0
}

.widget__title {
  position: relative;
  font-family: 'CMU Typewriter Text Variable Width', serif;
}

.widget__item {
  display: block;
  padding: 5px 0;
  border-bottom: 1px dotted #ebebeb
}

.widget__item:first-child {
  padding-top: 0
}

.widget__counter--bubble {
  font-size: 1em
}

.widget-social__item {
  padding: 0;
  border: 0
}

.widget-social__link {
  display: inline;
  margin: 0 0 8px;
  white-space: normal
}

.widget-social__link-icon {
  margin: 0 5px 0 0;
  vertical-align: middle;
  fill: #fff;
}

.widget-taglist__link {
  display: inline-block;
  margin: 0 4px 8px 0
}





.footer {
  padding: 10px 25px;
  background-color: transparent;
}

.footer__container {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.footer__links {
  -webkit-order: 1;
  order: 1
}

@media screen and (max-width:1475px) {
  .container--outer {
    width: 95%
  }
}

@media screen and (max-width:767px) {
  .menu__link{
    display: inline;
    flex-direction: row;
  }
  .menu__text{
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 1em;
  }
  h1.post__title{
    margin-top: 0.5em;
  }
  .clearfix{
    padding-top: 1em;
  }
  .wrapper {
    display: block
  }
  .sidebar {
    float: none;
    width: 100%;
    margin: 0;
    float: left;
    margin-top: 1em;
  }
}

p {
  display: inline-block !important;
  vertical-align: middle !important
}

.content a {
  color: var(--primary-color);
  font-weight: inherit
}

.content a:hover {
  color: var(--global-text-color);
  background-color: var(--link-hover-background-color);
  text-decoration: none;
  font-weight: inherit
}

*::selection{
  background-color: rgba(47,190,234,.25);
}
*::-moz-selection{
  background-color: rgba(47,190,234,.25);
}


a.list__footer-readmore.btn,
.widget-social__link.btn {
  background: transparent;
  text-decoration: none !important;
  /*border: 0;*/
  line-height: 1
}

.widget-social__link.btn:hover {
  background: var(--link-hover-background-color);
  color: #000;
}

a.list__footer-readmore.btn:hover{
  background-color: var(--link-hover-background-color);
}
a.meta__link::before {
  content: "[";
}

a.meta__link::after {
  content: "]";
}

header h2 a {
  /*border-bottom: dashed;*/
  text-decoration: none;
  color: #000;
}

header h2 a:hover {
  background-color: transparent;
  color: inherit;
  text-decoration: underline!important;
}

a.widget__link,
.meta a {
  text-decoration: none;
  line-height: 1;
  display: inline-block;
}

a.widget__link:hover,
.meta a:hover {
  background-color: var(--link-hover-background-color);
  color: #000;
}

.meta,
.meta a,
.footer a,
.content a {
  text-decoration: none;
}

.v[data-class=v] .vwrap{
  box-shadow: 0;
}

#vcomments>div.vempty {
  font-size: 14px
}
.v[data-class=v] .vwrap{
  border: none!important;
  background-color: var(--global-background-color);
  margin-top: 2em;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
#vcomments .vbtn {
  border-radius: 0 !important;
  background-color: transparent !important;
  border-color: transparent!important;
  color: var(--link-text-color) !important;
  padding: 0;
}


.v[data-class=v] .vpower a{
  font-size: 1em;
}
.v[data-class=v] .vpower a:hover{
  color: #000!important;
  background-color: transparent!important;
}
#vcomments .vbtn:hover {
  color: var(--global-text-color)!important;
  background-color:  var(--link-hover-background-color)!important;
}

#vcomments .vwrap {
  border-radius: 0 !important;
}

#vcomments .vwrap svg.vicon.cancel-reply-btn,
#vcomments .vwrap .v[data-class=v] .vwrap .cancel-reply-btn {
  display: none !important
}