
@media only screen and (max-width: 850px) {
    :root {
        --global-font-size: 14px;
        --global-font-color: #444;
        --global-line-height: 1.4em;
        --page-width: 70em;}
}
@media screen and (max-width:960px) {
    label {
        display: block;
        width: 100%
    }

    pre::-webkit-scrollbar {
        height: 3px
    }
}

table {
    width: 100%;
    border-collapse: collapse;  
    margin: var(--global-line-height) 0;
    color: var(--font-color);
    font-size: var(--global-font-size)
}

table td,
table th {
    vertical-align: top;
    border: 1px solid var(--font-color);
    border: 0.5px dashed white!important;
    line-height: var(--global-line-height);
    padding: calc(var(--global-space)/ 2);
    font-size: 1em
}

table thead th {
    font-size: 1em
}

table tfoot tr th {
    font-weight: 500
}

table caption {
    font-size: 1em;
    margin: 0 0 1em 0
}

table tbody td:first-child {
    font-weight: 700;
    color: var(--secondary-color);
}

img {
    max-width: 100%;
}

::selection{
    background-color: rgba(56,139,253,0.4);
    color: inherit;
}

em{
    font-style: italic;
    font-weight: 400;
    line-height: var(--global-line-height);
}
strong{
    font-style: normal;
    font-weight: 600;
    line-height: var(--global-line-height);
}
footer{
    float: none;
    margin: 0;
    padding: 0;
}
header{
    float: none;
    margin: 0;
    padding: 0;
}
li{
    float: none;
    margin: 0;
    padding: 0;
}
section {
    float: none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    margin-top: calc(var(--global-space) * 2);
    margin-bottom: calc(var(--global-space) * 2);
    float: none;
    margin: 0;
    padding: 0;
}
pre code::after,
pre code::before {
    content: "";
}
ol,
ul {
    margin-top: calc(var(--global-space) * 2);
    margin-bottom: calc(var(--global-space) * 2);
    float: none;
    margin: 0;
    padding: 0;
}

div.footer {
    font-family: 'iA Writer Duo S', 'Microsoft Yahei', serif !important;
}

/* <figure> */
figure {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

figure>img {
    padding: 0
}


figure {
    margin: 0
}

figure>figcaption {
    color: var(--secondary-color);
    text-align: center
}

@media screen and (max-width:480px) {
    form {
        width: 100%
    }
}

/* terminal */

.terminal-prompt::before {
    content: none;
}
.terminal-prompt::after {
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
    width: 10px;
}
/*
@media only screen and (min-width:30em) {
    .terminal-nav {
        flex-direction: row;
        align-items: right
    }
    .terminal-menu ul {
        flex-direction: row;
        justify-items: flex-end;
        align-items: center;
        justify-content: flex-end;
        margin-top: calc(var(--global-space) * 2)
    }
    

    .terminal-menu li {
        margin: 0;
        margin-right: 2em
    }

    .terminal-menu li:last-child {
        margin-right: 0
    }
}
@media only screen and (min-width:30em) {
    .terminal-nav {
        flex-direction: row;
        align-items: right
    }
    
    .terminal-menu ul {
        flex-direction: row;
        justify-items: flex-end;
        align-items: center;
        justify-content: flex-end;
        margin-top: calc(var(--global-space) * 2)
    }

    .terminal-menu li {
        margin: 0;
        margin-right: 2em
    }

    .terminal-menu li:last-child {
        margin-right: 0
    }
}

