:root {
  --background-color: #2a2a2a
}

#vcomments>div.vempty {
  font-size: 14px
}
.v[data-class=v] .vwrap{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px!important;
  border: none!important;
}
#vcomments .vbtn {
  border-radius: 0 !important;
  background-color: #2a2a2a !important;
  border-color: #2a2a2a !important;
  color: #fff !important
}
/*
#vcomments .vbtn:hover {
  color: #fff !important;
  background-color: #e22d30 !important;
  border-color: #e22d30 !important
}
*/
.v[data-class=v] .vpower a{
  font-size: 1em;
}
.v[data-class=v] .vpower a:hover{
  color: #000!important;
  background-color: transparent!important;
}
#vcomments .vbtn:hover {
  color: #fff!important;
}
#vcomments .vwrap {
  border-radius: 0 !important;
  box-shadow: 0
}

#vcomments .vwrap svg.vicon.cancel-reply-btn,
#vcomments .vwrap .v[data-class=v] .vwrap .cancel-reply-btn {
  display: none !important
}