:root 
  --background-color: #2a2a2a
#vcomments 
  >div.vempty
    font-size: 14px
  .vbtn
    border-radius: 0!important
    background-color: #2a2a2a!important
    border-color: #2a2a2a!important
    color: #fff!important
    &:hover
      color: #fff!important
      background-color: #e22d30!important
      border-color: #e22d30!important
  .vwrap
    border-radius: 0!important
    box-shadow: 0;